<!doctype html>
<html lang="en">
  {% block head %}
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  <title>iGROW Knowledge Management System</title>

<style>
  .bg-grey {
    background-color: #f6f6f6;
  }
  .container-fluid {
    padding: 60px 50px;
  }
</style>

</head>
{% endblock %}

<body>

<div class="p-3 mb-2 bg-success text-white text-center">
    <h1 class="p-3 mb-2 bg-success text-white text-center">iGROW Knowledge Management System</h1>
  </div>

<div class="p-3 mb-2">
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Reg' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Loginpage' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'OurServices' %}">Our Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'About' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ContactUs' %}">Contact Us</a>
    </li>
  </ul>
  </div>

<br/>

<div class="container">
  <h3 style="text-align: center;">About Us</h3>
</div>
<hr/>

<div class="container-fluid">
  <h2>About iGROW</h2>
  <!-- <h4>Lorem ipsum..</h4>       -->
  <br/>
  <p style="text-align: justify;">
    Institut Agro Usahawan (iGROW) is an institution that serves as a Private Skills Training Center and provides agricultural workshops with short and long term courses, according to Facebook IGROW PERAK. 
    The organization is located in the Kampung Gajah of Perak and is one of the state of Perak's attractions and privileges. This organization performs various agricultural-related activities in partnership with the state government and Non-Governmental Organization (NGO). 
    The iGROW is interested in providing the agricultural and plantation sector with qualified manpower and is linked to agrotourism. In addition to agriculture, iGROW also conducts business in the livestock and fishery industries.

  </p>
  <!-- <button class="btn btn-default btn-lg">Get in Touch</button> -->
</div>

<div class="container-fluid bg-grey">
  <h2>iGROW Mission & Vission</h2>
  <br/>
  <h4 style="text-align: justify;"><strong>MISSION:</strong> Our mission is to become one of the outstanding and top-notch entrepreneurial skills training centers not only in Malaysia, but also in the eyes of the world. </h4>      
  <p style="text-align: justify;"><strong>VISION:</strong> Our vision is to provide exposure and skills through experience, work culture and real situations applied in each learning so that trainees are ready for the world of work after completion of training.</p>
</div>

</body>

</html>















